div.container-fluid {
padding: 5px;}



img.img-responsive { max-width: auto;
height: 200px;}


div.row-fluid {
    border: 4px outset; /* Параметры границы */
    background: #FFFFFF; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
	margin: 5px;
   }
div.col-lg-4 {
    border: 2px solid; /* Параметры границы */
    background: #FFFFFF; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
	margin-bottom: 5px;
   }
div.col-md-4 {
    border: 2px solid; /* Параметры границы */
    background: #FFFFFF; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    margin-bottom : 5px;
	margin-top : 5px;
   }

div.col-sm-4{
    border: 2px solid; /* Параметры границы */
    background: #FFFFFF; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
   }
   
   
